<div class="container">
    <h4>Selecione o Job para Reimpressão</h4>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th width="10%">Código</th>
          <th>Zona</th>
          <th>Status</th>
          <th>Nº Inicial</th>
          <th>Nº Final</th>
          <th>Data | Hora</th>
        </tr>
      </thead>
      <tbody id="table-job">
        <tr>
          <td>
              123
          </td>
          <td>
            TESTE
          </td>
          <td>
            TESTE
          </td>
          <td>
            1223
          </td>
          <td>
           1223
          </td>
          <td>
            01/01/2000
          </td>
        </tr>
      </tbody>
    </table>
  </div>